
// 全局样式
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }

img { border:none;vertical-align: middle; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

body,html{
    width: 100%;
    height: 100%;
    background: #f7f7f7;
}

// 最顶部
header{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-top: 1px solid #b6b4b6;
    border-bottom: 1px solid #e5e5e5;
    background: #f2f2f2;
    .head-container{
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 95px 0 130px;
        font-size: 12px;
        line-height: 30px;
        & a{
            color: #6c6c6c;
        }
        .head-left{
            float: left;
            p{
                color: #6c6c6c;
                float: left;
                margin-right: 20px;
            }
            div{
                float: left;
                margin-right: 20px;
                a:hover{
                    color: #ed145b;
                }
            }

        }
        .head-left：after{
            content: "";
            clear: both;
            display: block;
        }
        .head-right{
            float: right;
            width: 460px;
            position: relative;
            a:hover{
                color: #ed145b;
            }
            div{
                float: left;
                margin-right: 15px;
                .myjumei{
                    display: none;
                    position: absolute;
                    background: white;
                    box-sizing: border-box;
                    padding:10px;
                    border: 1px solid #ddd;
                    border-top: none;
                    box-shadow: 0 0 5px #ddd;
                    left: 197px;
                    top: 29px;
                }
                .more{
                    display: none;
                    position: absolute;
                    background: white;
                    box-sizing: border-box;
                    padding:10px;
                    border: 1px solid #ddd;
                    box-shadow: 0 0 5px #ddd;
                    left: 340px;
                    top: 29px;
                    .sina{
                        display: none;
                        position: absolute;
                        background: white;
                        left: -108px;
                        top: -20px;
                        padding: 10px;
                        border: 1px solid #ddd;
                        box-shadow: 0 0 5px #ddd;
                    }
                    .weixin{
                        display: none;
                        position: absolute;
                        background: white;
                        left: -108px;
                        top: 4px;
                        padding: 10px;
                        border: 1px solid #ddd;
                        box-shadow: 0 0 5px #ddd;
                    }
                    .tengxun{
                        display: none;
                        position: absolute;
                        background: white;
                        left: -108px;
                        top: 68px;
                        padding: 10px;
                        border: 1px solid #ddd;
                        box-shadow: 0 0 5px #ddd;
                    }
                    .renren{
                        display: none;
                        position: absolute;
                        background: white;
                        left: -108px;
                        top: 100px;
                        padding: 10px;
                        border: 1px solid #ddd;
                        box-shadow: 0 0 5px #ddd;
                    }
                }
            };
            div.head_myjumei{
                width: 77px;
                height: 30px;
                text-align: center;
            }
            div.head_myjumei:hover ul{
                display: block;
                z-index: 999;
            }
            div:nth-child(6):hover ul{
                display: block;
                z-index: 999;
            }
            div.phone
            {
                
                a{
                    color: #ed145b;
                    display: inline-block;
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    width: 80px;
                    height: 20px;
                    margin-top: 5px;
                    text-align: center;
                    line-height: 20px;
                    
                }
            }
            
        }
        .head-right::after{
            content: "";
            clear: both;
            display: block;
        }
    }
}

// 查询部分
.serch-container{
        width: 1090px;
        box-sizing: border-box;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        .logo{
            width: 165px;
            height: 85px;
            background: url(../images/logo.jpg) no-repeat;
        }
        .serch{
            .serch-center{
                margin-top: 10px;
                position: relative;
                input{
                    width: 436px;
                    height: 38px;
                    border: 3px solid #ed145b;
                }
                .serch-content{
                    position: absolute;
                    top: 46px;
                    left: 0;
                }
                button{
                    width: 100px;
                    height: 44px;
                    color: #fff;
                    background: #ed145b;
                    border: 3px solid #ed145b;
                    margin-left: -10px;
                }
            }
            
            ul{
                li{
                    float: left;
                    height: 12px;
                    text-align: center;
                    line-height: 12px;
                    border-right: 1px solid #ddd;
                    margin-top: 10px;
                    a{
                        margin: 5px;
                        font-size: 12px;
                        color: #6c6c6c;
                        
                    }
                }
            }
        }
        .cart{
            border: 1px solid #ddd;
            box-shadow: 0 0 5px #ddd;
            height: 44px;
            margin-top: 10px;
            box-sizing: border-box;
            padding-left: 30px;
            padding-right: 5px;
            background: url(../images/cart.gif) no-repeat left center;
            line-height: 44px;
            position: relative;
            a{
                font-size: 14px;
            }
            p{
                display: none;
                width: 154px;
                line-height: 20px;
                padding: 20px 20px;
                position: absolute;
                border: 1px solid #ddd;
                background: white;
                box-shadow: 0 0 5px #ddd;
                left: -76px;
                top: 42px;
                font-size: 12px;
                text-align: center;
            }
        }

}

// 菜单栏
.menu-container{
    width: 100%;
    background: #000;
    margin-top: 10px;
    .menu{
        width: 1080px;
        height: 38px;
        margin: 0 auto;
        .menu-left{
            float: left;
            position: relative;
            ul{
                height: 38px;

                li{
                    float: left;
                    line-height: 38px;
                    a{
                        display: inline-block;
                        color: #fff;
                        width: 100px;
                        text-align: center;
                        font-weight: bold;
                    }
                    a.active{
                        background: #ed145b;
                    }
                    table{
                        display: none;
                        background: #fff;
                        position: absolute;
                        left: 0;
                        top: 40px;
                        tr{
                            td{
                                border-right: 1px dashed #ddd;
                                border-bottom: 1px dashed #ddd;
                                
                                box-sizing: border-box;
                                padding-left: 18px;
                                h6{
                                    font-size: 14px;
                                    color: black;
                                }
                                ul{
                                    color: #666;
                                    display: block;
                                    font-size: 12px;
                                    width: 262px;
                                    height: auto;
                                    li{
                                        margin-right: 24px;
                                        float: left;
                                    }

                                }
                                ul::after{
                                    content: "";
                                    clear: both;
                                    display: block;
                                }
                            }
                            td.border_none{
                                border: none;
                                vertical-align: middle;
                                padding: 0;
                            }
                            td.right_none{
                                border-right: none;
                            }
                            td.bottom_none{
                                border-bottom: none;
                            }
                        }
                        
                    }
                }
                li:nth-child(4):hover table{
                    display: block;
                    z-index: 999;
                }
            }
        }
        .menu-right{
            float: right;
            height: 38px;
            ul{
                height: 38px;
                li{
                    float: left;
                    height: 38px;
                    line-height: 38px;
                    margin: 0 10px;
                }
            }
        }
    }
}
.menu-container::after{
    content: "";
    display: block;
    clear: both;
}

// banner
.banner-container{
    width: 100%;
    height: 350px;
    background: url(../images/banner.jpg) no-repeat center;
    .swiper-container{
        width: 1200px;
        height:350px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

// 今日疯抢/明日预告 标题
.todayTom-container{
    margin: 20px 0;
    .todayTom{
        border: 1px solid #666;
        width: 468px;
        margin: 0 auto;
        div{
            width: 234px;
            height: 46px;
            line-height: 46px;
            font-size: 20px;
            color: #333;
            float: left;
            text-align: center;
            font-weight: bold;
        }
        div span.tomNum{
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #ea1d5d;
            font-size: 12px;
            color: white;
            line-height: 25px;
            margin-left: 5px;
        }
        div.active{
            color: white;
            background: #666;
            position: relative;
        }
        div.active::after{
            content: "";
            width: 0;
            height: 0;
            border: 10px solid white;
            position: absolute;
            left: 50%;
            top: 47px;
            border-top-color: #666;
        }
    }
    .todayTom:after{
        content: "";
        display: block;
        clear: both;
    }
}


// 今日疯抢-content
.today-content{
    // display: none;
    width: 1090px;
    margin: 0 auto;
    .content{
        width: 1100px;
        margin-left: 3px;
        a{
            width: 535px;
            height: 212px;
            display: inline-block;
            border-top: 1px solid black;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}



// 明日-content
.tom-content{
    display: none;
    width: 1090px;
    margin: 0 auto;
    .content{
        width: 1100px;
        margin-left: 3px;
        a{
            width: 535px;
            height: 212px;
            display: inline-block;
            border-top: 1px solid black;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}

// 每日必看
.must{
    .must-tit{
        width:100%;
        h3{
            height: 68px;
            line-height: 68px;
            margin: 0 auto;
            width: 300px;
            text-align: center;
            font-size: 20px;
            color: #0f0f0f;
            font-weight: bold;
        }
    }
    .must-content{
        width: 1090px;
        margin: 0 auto;
        background: #f7f7f7;
        .content-every{
            margin: 10px 0;
            background: url(../images/uluka.jpg) no-repeat -210px 0;
            .top{
                float: left;
                width: 400px;
                height: 334px;
                background: rgba(253, 253, 253, .3);
                .top-tit{
                    width:40px;
                    height: 40px;
                    background: #8b35a0;
                    font-size: 13px;
                    text-align: center;
                    line-height: 20px;
                    color: white;
                }
                .top-count{
                    width: 120px;
                    height: 68px;
                    margin-left: 70px;
                    background: url(../images/top.png) no-repeat;
                }
                .top-content{
                    font-size:10px;
                    color: #939393;
                    line-height: 484px;
                    display: none;
                }
            }
            .content{
                margin-top: 30px;
                float: right;
                width: 462px;
                height: 334px;
                border: 1px solid #ddd;
                box-shadow: 0 0 5px #ddd;
                box-sizing: border-box;
                padding: 0 42px;
                .timer{
                    width:196px;
                    height: 26px;
                    text-align: center;
                    line-height: 26px;
                    color: white;
                    background: #333;
                    margin: -2px auto 0;
                }
                .text{
                    margin: 34px 0 30px 0;
                    line-height: 22px;
                    font-size: 16px;
                    color: #767676;
                }
                .price{
                    .now-price{
                        font-size: 40px;
                        color: black;
                    }
                    .old-price{
                        font-size: 10px;
                        color: #727272;
                        text-decoration: line-through;
                        margin-right: 153px;
                    }
                    .join{
                        display: inline-block;
                        width: 106px;
                        height: 36px;
                        background: #e81a62;
                        line-height: 36px;
                        text-align :center;
                        color: white;

                    }
                }
                .count{
                    background: url(../images/jisu.jpg) no-repeat;
                    height: 60px;
                    line-height: 60px;
                    box-sizing: border-box;
                    padding-left: 302px;
                    font-size: 11px;
                    color: #000;
                    span{
                        color:#b99681;
                        font-size: 14px;
                    }
                }
            }
        }
        .content-every:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    
}


// 今日上新单品
.newToday{
    width: 100%;
    .newToday-tit{
        margin: 0 auto;
        width:1090px;
        border-bottom: 2px solid black;
        font-size: 18px;
        height: 25px;
        .jinri{
            display: inline-block;
            background: #000;
            color: white;
            height: 25px;
            margin-bottom: -5px;
            padding: 0 15px;
        }
        .refresh{
            margin-left: 685px;
            font-size: 12px;
            color: #ed4c82;
            height: 25px;
            line-height: 25px;
        }
    }
    .newToday-content{
        margin: 0 auto;
        width:1090px;
        .content{
            margin-right: -20px;
            .content-every{
                width: 350px;
                height:470px;
                box-shadow: 0 0 5px #ddd;
                margin: 20px 20px 0 0;
                float: left;
            }
            .every-show{
                .show-img{
                    background: url(../images/renqi.jpg) no-repeat -235px 0;
                    width:350px;
                    height: 400px;
                    position: relative;
                    .corner{
                        display: block;
                        position: absolute;
                        width:40px;
                        height:40px;
                        background: url(../images/corner.png) no-repeat;
                        z-index:2;
                    }
                    .every-hide{
                        z-index:1;
                        display: none;
                        background: rgba(253, 253, 253, .3);
                        position: absolute;
                        .cart{
                            width:80px;
                            height: 26px;
                            line-height: 26px;
                            text-align:center;
                            font-size:12px;
                            background: #ed155b;
                            margin-left: 269px;
                        }
                        .hot{
                            width: 330px;
                            height: 30px;
                            background: #828282;
                            color: white;
                            font-size:10px;
                            margin: 0 auto;
                            text-align: center;
                            line-height: 30px;
                            margin-top: 330px;
                            span{
                                display: inline-block;
                                width:80px;
                                height: 14px;
                                background: url(../images/star.png);
                            }
                        }
                    }
                }
                
                .introduce{
                    font-size: 12px;
                    color: #333;
                    box-sizing: border-box;
                    padding: 0 18px;
                    height: 50px;

                }
                .price{
                    box-sizing: border-box;
                    padding: 0 15px 0 18px;
                    .price-left{
                        float: left;
                        font-size: 18px;
                        color: #ed145b;
                    }
                    .price-right{
                        float: right;
                        font-size: 10px;
                        span{
                            color:#929292;
                        }
                        .sale{
                            color: #b9966a;
                        }
                    }
                }
                .price:after{
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }
        .content:after{
            content: "";
            clear: both;
            display :block;
        }
        
    }
}

.fixed-right{
    position: fixed;
    right: 0;
    top:0;
    width: 40px;
    background: #444851;
    height: 100%;
    box-sizing: border-box;
    li{
        width: 40px;
        height: 35px;
        background: url(../images/menu.png) no-repeat;
        background-position-x: 10px;
        margin-top:20px;
        box-sizing: border-box;
    }
    &>li:nth-child(1){
        margin-top: 60px;
        position: relative;
        background-position-y:15px;
    }
    &>li:nth-child(1):after{
        content: "";
        display: block;
        width: 26px;
        height: 1px;
        background: #31343b;
        position: absolute;
        left: 6px;
        bottom:-26px;
    }
    .carts{
        border-top: 1px solid #575b64;
        border-bottom: 1px solid #31343b;
        height: 129px;
        margin: 27px 0 20px 0;
        box-sizing: border-box;
        padding: 10px 0;
        color: white;
        font-size: 12px;
        text-align: center;
        li{
            background-position-y:-30px;
            margin: 0;
            height: 24px;
        }
        div{
            span{
                display: block;
                background: #ed145b;
                border-radius: 50%;
                width: 20px;
                height:20px;
                margin:10px auto 0;
            }
        }
    }
    &>li:nth-child(3){
        background-position-y:-50px;
        position: relative;
    }
    &>li:nth-child(3)::before{
        content: "";
        display: block;
        width: 26px;
        height: 1px;
        background: #575b64;
        position: absolute;
        left: 6px;
        top: -20px;
    }
    &>li:nth-child(4){
        background-position-y:-75px;
    }
    &>li:nth-child(5){
        background-position-y:-105px;
        margin-bottom: 65px;
    }
    &>li:nth-child(6){
        background-position-y:-300px;
    }
    &>li:nth-child(7){
        background-position-y:-166px;
    }
    &>li:nth-child(8){
        background-position-y:-200px;
    }
}

// 左侧固定栏
.fixed-left{
    display:none;
    position: fixed;
    left: 0;
    top:40%;
    width: 62px;
    height: 188px;
    li{
        width: 60px;
        height: 60px;
        box-sizing:border-box;
        text-align: center;
        font-size: 12px;
        padding-top: 40px;
        background: url(../images/fixed-left.jpg) no-repeat;
    }
    li:nth-child(1){
        background: #fe6397;
        padding-top: 15px;
        color: white;
        font-weight: bold;
        border-bottom: 1px solid white;
    }
    li:nth-child(2){
        background-position: -176px 0;
    }   
    li:nth-child(3){
        border-bottom: 2px solid #fe6397;
        background-position: 0 -125px;
    }
}

